.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.Img{
  color: #175bae;
  font-size: 10rem;
}

.featureContainer{
  transition: 250ms;
}

.featureContainer:hover{
  opacity: 0.8;
}