.img{
    width: auto;
    height: auto;
}

.alt{
    font-weight: 200;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .lederDiv{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 600px) {
    .lederDiv{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.leder{
    width: 10rem;
    height: 10rem;
    text-align: center;
    margin: auto;
    margin-bottom: 5rem;
    cursor: pointer;
}
.header{
    text-align: center;
    font-weight: 300;
}

.circle{
    margin: auto;
    width: 9rem;
    height: 9rem;
    position: relative;
    border: solid #E2A914 2px;
    border-radius: 50%;
    transition: 250ms;
}

/* .circle:hover{
    opacity: 0.75;
    width: 9.5rem;
} */

.leder>h3, .leder>h4{
    font-weight: 450;
    margin: 0;
}

.bildediv{
    display: grid;
    align-items: center;
}
.bildediv>div{
    margin-right: 1rem;
}


@media screen and (min-width: 640px) {
    .bildediv{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 640px) {
      .bildediv{
        grid-template-columns: repeat(1, 1fr);
      }
  }
  

.bedriftGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolonner */
    gap: 1px; /* Mellomrom mellom bildene */
    justify-items: center;
    align-items: center;
}

.bedriftContainer {
    text-align: center;
}

.roundBilde {
    border-radius: 50%; /* Gjør bildet rundt */
    object-fit: cover; /* Sikrer at bildet fyller formen */
    width: 250px; /* Standard størrelse */
    height: 250px;
    aspect-ratio: 1 / 1; /* Sikrer at bildet alltid er kvadratisk */
    border: 3px solid var(--ifm-color-primary-dark); /* Gir en fin ramme */
}

.bedriftText {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    text-align: center;
}